* {
  box-sizing: border-box;
  padding: 0;
}

/* reset browser css*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup,
 var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, 
tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, 
header, hgroup, menu, nav, section, summary, time, mark, audio, video
 { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

header {
  max-width: 100%;
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.headerRightBlock {
  width: 50%;
  margin-top: 15px;
}

.burgerMenu {
  display: none;
}

nav {
  max-width: 100%;
}
ul {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

header ul li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: #626262;
}

li a:hover {
  transition: 0.5s;
  color: black;
}

li a {
  font-family: PlayfairDisplay-Regular;
  color: #626262;
  font-size: 14px;
}

body {
  margin: auto;
}

.banner1 img {
  max-width: 100%;
  margin-bottom: 70px;
}

.container {
  max-width: 900px;
  margin: auto;
}

.wrapBlock {
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.block {
  max-width: calc(50% - 30px);
  margin-bottom: 130px;
}

.block:nth-child(1),
.block:nth-child(3) {
  margin-right: 30px;
}

.block:nth-child(2),
.block:nth-child(4) {
  margin-left: 30px;
}

.blockImg img {
  width: 100%;
}

.signBlock {
  max-width: 100%;
  height: 400px;
  background-color: #f0f0f0;
  text-align: center;
  padding-top: 70px;
  margin-bottom: 100px;
}

.icon {
  border: none;
  font-size: 20px;
}

.icon:focus {
  outline: none;
}

.buttonLoad {
  text-align: center;
  margin-bottom: 100px;
}

.iconLoad:focus{
  outline: none;

}
.inputBlock {
  width: 100%;
  margin: auto;
}

.inputBlockWrapper{
  width: 400px;
  border-bottom: 1px solid #626262;
  display: flex;
  justify-content: space-between;
  margin: auto;
}


input {
  background-color: #f0f0f0;
  border: none;
  width: 80%;
  height: 30px;
  padding-top: 15px;
  padding-left: 10px;
}

input:focus {
  outline: none;
}

.iconLoad:hover {
  background-color: #f0f0f0;
  transition: 0.5s;
}

/* style for font */

@font-face {
  font-family: 'Inconsolata-Regular';
  src: URL('FONTS/Inconsolata/Inconsolata-Regular.ttf') format('truetype');
}

@font-face{
  font-family: 'PlayfairDisplay-Regular';
  src: URL('FONTS/Playfair_Display/PlayfairDisplay-Regular.ttf') ;
}

@font-face{
  font-family: 'Ubuntu-Light';
  src: URL('FONTS/Ubuntu/Ubuntu-Light.ttf') ;
}

@font-face{
  font-family: 'PlayfairDisplay-Italic';
  src: URL('FONTS/Playfair_Display/PlayfairDisplay-Italic.ttf') ;
}

@font-face{
  font-family: 'PlayfairDisplay-Bold';
  src: url('FONTS/Playfair_Display/PlayfairDisplay-Bold.ttf');
}


p {
  font-family: PlayfairDisplay-Regular;
  font-size: 14px;
  color: #626262;
}

.headerLeftBlock h1 {
  font-family: "Inconsolata-Regular";
  font-size: 30px;
  text-align: left;
  line-height: 24px;
  letter-spacing: 7px;
}

h1 a {
  
  text-decoration: none;
  color: #000000;
}

h1 a:hover {
  color: #626262;
  transition: 0.5s;
}

h1 span {
  font-family: "Inconsolata-Regular";
  font-size: 30px;
  font-weight: 100;
}

h3 {
  font-family: Ubuntu-Light;
  font-size: 14px;
  color: #b4ad9e;
  margin-bottom: 30px;
  margin-top: 30px;
}

h3:hover{
  color: #333333;
  transition: 0.5s;
}

h2 {
  font-family: PlayfairDisplay-Regular;
  font-size: 30px;
  color: #626262;
  margin-bottom: 40px;
}

h2:hover{
  color: #333333;
  transition: 0.5s;
}

a{
  text-decoration: none;
}

.iconLoad {
  font-family: PlayfairDisplay-Regular;
  font-size: 20px;
  color: #626262;
  border: 1px solid #626262;
  background-color: white;
}

h4{
  font-family: PlayfairDisplay-Bold;
  font-size: 16px;
  color: #333333;
}

h5{
  font-family: PlayfairDisplay-Regular;
  color: #333333;
  font-size: 16px;
}

.signBlockHeading {
  font-family: PlayfairDisplay-Regular;
  font-size: 30px;
  color: #333333;
}

input {
  font-family: PlayfairDisplay-Regular;
  font-size: 14px;
  font-weight: regular;
  color: #626262;
}

.leftBlock a {
  font-family: PlayfairDisplay-Regular;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
  margin-right: 15px;
}

.leftBlock a:hover {
  color: #626262;
  transition: 0.5s;
}

.rightBlock a {
  font-family: PlayfairDisplay-Regular;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
  margin-right: 20px;
}

.rightBlock a:hover {
  color: #626262;
  transition: 0.5s;
}


/* style for footer */
footer {
  width: 100%;
  height: 100px;
  background-color: #f0f0f0;
}

.wrapFooter {
  height: 100px;
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  align-items: center;
  max-width: 900px;
  margin: auto;
}

.leftBlock {
  display: flex;
  justify-content: space-between;
}


/* for post-full-width page */
.containerImg img{
  max-width: 100%;
  margin-top: 40px;
}

.imgDes{
  font-family: PlayfairDisplay-Italic;
  padding: 25px;
  font-size: 14px;
  color: #626262;
}

.signBlockWrapper{
  max-width: 900px;
  height: 100%;
  margin: auto;
  padding: 12px;
}
.signBlockWrapper a h3{
  text-align: left;
}

p span{
  font-family: PlayfairDisplay-Bold;
}

.signBlockBanner{
  display: flex;
  justify-content: space-between;
}
.blockBanner{
  max-width: 30%;
}
.blockBanner a h2{
  font-size: 20px;
  text-align: left;
}
.blockBanner img{
  max-width: 100%;
}

.comment{
  display: flex;
  margin-top: 30px ;
}

.commentAva{
  max-width: 20%;
  margin-right: 40px ;
  margin-top: 10px;
}

.commentAvaWord{
  max-width: 20%;
  margin-right: 40px ;
  margin-top: 10px;
  background-color: rgba(54, 134, 54, 0.2);
  width: 70px;
  height: 73px;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 25px;
}

.commentAvaWord h4{
  margin-top: 23px;
}

.commentSec{
  width: 80%;
}
.commentSec h4{
   margin-bottom: 10px;
}

.commentSec input{
  background-color: white;
  padding: 0;
  margin-top: 20px;
  width: 100%;
}

#comment{
  width: 100%;
  border: 1px solid black;
  padding-left: 20px;
  height: 60%;
  border-radius: 5px;
}

.container .rightBlock a{
  font-size: 14px;
}

/* style for post-sidebar page */
.sidebarWrapper{
  display: flex;
  max-width: 900px;
  margin: auto;
}

.leftContainer{
  max-width: 70%;
}
.rightContainer{
  max-width: 30%;
}

main ul{
  display: block;
}

main ul li{
    color: #626262;
    margin-left: 14px;
}

.bannerAva{
  margin-top: 40px;
}

.bannerAva img{
  max-width: 100%;
}

.rightContainer{
  padding:12px;
}

@media only screen and (max-width: 510px) {
  /* style for burger menu */
  .headerRightBlock {
    display: block;
  }

  .burgerMenu {
    display: block;
    float: left;
    font-size: 25px;
    margin-top: 20px;
  }

  .burgerMenu {
    margin-left: 10px;
  }

  .burgerMenu button {
    border: none;
  }

  .burgerMenu button:focus{
    outline: none;
    border: none;
  }

  .headerLeftBlock h1 {
    text-align: center;
    margin-top: 20px;
  }
  /* style for open nav mobile*/

  header {
    display: block;
    margin: auto;
  }

  .headerRightBlock {
    width: 100%;
    margin-top: 20px;
  }

  ul {
    display: block;
    width: 100%;
    z-index: 1;
    float: left;
    margin-top: -10px;
    padding: 0;
  }

  li {
    width: 100%;
  }

  li:hover {
    background-color: #f0f0f0;
    transition: 0.5s;
  }

  li a {
    margin-left: 10px;
  }

  nav {
    width: 100%;
  }
  /* style for body mobile*/
  .wrapBlock {
    display: block;
  }
  .block {
    max-width: 100%;
  }

  .block:nth-child(1),
  .block:nth-child(3) {
    margin-right: 0px;
  }

  .block:nth-child(2),
  .block:nth-child(4) {
    margin-left: 0px;
  }


  .inputBlock input {
    width: 100%;
  }
  
  .inputBlockWrapper{
  max-width: 70%;
  }

  /* style for footer mobile */

  .wrapFooter {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-evenly;
  }
  .leftBlock {
    display: block;
 
    text-align: center;
  }

  .rightBlock {
    text-align: center;
  }
  /* mobile for post-full-width page */
  .signBlockBanner{
    display: block;
    background-color: #f0f0f0;
  }

  .signBlock{
    height: 1200px;
  }
  .blockBanner{
    max-width: 100%;
  }

  .blockBanner a h2{
  text-align: center;
}
}
