* {
  box-sizing: border-box;
  padding: 0;
}

header {
  max-width: 100%;
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center ;
}

.headerRightBlock {
  width: 50%;
  margin-top: 20px;
}

.burgerMenu{
  display: none;
}

nav {
  max-width: 100%;
}
ul {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

ul li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: #626262;
}

li a:hover{
  transition: 0.5s;
  color: black;
}

.headerLeftBlock h1 {
  font-family: Inconsolata-Black;
  font-size: 30px;
  text-align: left;
}

li a{
    font-family: PlayfairDisplay-Regular;
    color: #626262;
    font-size: 14px;
}

body {
  /* max-width: 1066px; */
  margin: auto;
}

.banner1 img {
  max-width: 100%;
  margin-bottom: 70px;
}

.container {
  max-width: 900px;
  margin: auto;
}

.wrapBlock {
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.block {
  max-width: calc(50% - 30px);
  margin-bottom: 130px;
}


.block:nth-child(1), .block:nth-child(3){
    margin-right: 30px ;
}

.block:nth-child(2), .block:nth-child(4){
    margin-left: 30px ;
}


.blockImg img {
  max-width: 100%;
}

.signBlock {
  max-width: 100%;
  height: 287px;
  background-color: #f0f0f0;
  text-align: center;
  padding-top: 70px;
  margin-bottom: 100px;
}

.icon {
  border: none;
  font-size: 20px;
}

.icon:focus{
  outline: none;
}

.buttonLoad{
    text-align: center;
    margin-bottom: 100px ;
}
.inputBlock{
  max-width: 25%;
  border-bottom: 1px solid #626262  ;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

input{
    background-color:  #f0f0f0;
    border: none;
    width: 80%;
    height: 30px;
    padding-top: 15px ;
    padding-left: 10px;
}

input:focus{
  outline: none;
}

.iconLoad:hover{
  background-color:  #f0f0f0;
  transition: 0.5s;
}


/* style for font */
p{
    font-family: PlayfairDisplay-Regular;
    font-size: 14px;
    font-weight: regular;
    color: #626262;
}

h1 a{
    font-size: 45px;
    font-weight: 100;
}

h3{
    font-family: Ubuntu-Light;
    font-size: 14px;
    color: #b4ad9e;
    margin-bottom: 30px;
    margin-top: 30px;
}

h2{
    font-family: PlayfairDisplay-Regular;
    font-size: 30px;
    color: #626262;
    margin-bottom: 40px ;
}

.iconLoad{
    font-family: PlayfairDisplay-Regular;
    font-size: 20px;
    color: #626262;
    border: 1px solid #626262;
    background-color: white;
}

.signBlockHeading{
    font-family: PlayfairDisplay-Regular;
    font-size: 30px;
    color: #333333;
}

input{
    font-family: PlayfairDisplay-Regular;
    font-size: 14px;
    font-weight: regular;
    color: #626262;
}

.leftBlock a{
  font-family: PlayfairDisplay-Regular;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
  margin-right: 15px;
}

.leftBlock a:hover{
  color: #626262;
  transition: 0.5s;
}


.rightBlock a{
  font-family: PlayfairDisplay-Regular;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
  margin-right: 20px;
}


.rightBlock a:hover{
  color: #626262;
  transition: 0.5s;
}
/* style for footer */
footer {
  width: 100%;
  height: 100px;
  background-color:#f0f0f0;
}

.wrapFooter{
  height: 100px;
  display: flex;
  justify-content: space-between;
  background-color:#f0f0f0;
  align-items: center;
  max-width:900px; margin: auto;
}


.leftBlock {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 450px) {

  /* style for burger menu */
  .headerRightBlock{
    display: block;
  }
  .burgerMenu{
    display: block;
     float: left;
    font-size: 25px;
    margin-top: 20px;
  }
  
  .burgerMenu{
    margin-left: 10px; 
  }

  .burgerMenu button{
    border: none;
  }

  .headerLeftBlock h1{
    text-align: center;
  }
/* style for open nav mobile*/

  header{
    display: block;
    margin: auto;
  }
  
  .headerRightBlock{
    width: 100%;
  }

  ul{
    display: block;
    width: 100%;
    z-index: 1;  
    float: left;
    margin-top: -20px;
    padding: 0;
  }

  li{
    width: 100%;
  }

  li:hover{
    background-color: #f0f0f0;
    transition: 0.5s;
  }

  li a{
    margin-left: 10px ;
  }

  nav{
    width: 100%;
  }
  /* style for body mobile*/
  .wrapBlock {
    display: block;
  }
  .block {
    max-width: 100%;
  }

  .block:nth-child(1), .block:nth-child(3){
    margin-right: 0px ;
}

.block:nth-child(2), .block:nth-child(4){
    margin-left: 0px ;
}

.inputBlock{
  max-width: 70% ;
}

.inputBlock input{
  width: 100%;
}

  /* style for footer mobile */

  .wrapFooter{
    max-width: 100%;
    display: block;
  }
  .leftBlock{
    display: block;
    width: 100%;
    text-align: center;
  }

  .rightBlock{
    text-align: center;
  }
  
}
