* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}
.wrap {
  max-width: 960px;
  margin: auto;
}
section.Iphone_12_Pro {
  background-image: url(https://www.apple.com/v/iphone-12-pro/a/images/meta/iphone-12-pro_overview__d5t6ow03nkmu_og.png);
  background-attachment: fixed;
  background-size: 100% 100%;
  background-position: center;
  color: silver;
  text-align: center;
}
.headline {
  color: silver;
}

body {
  margin: 0;
}

.wrapper {
  height: 50px;
}

nav {
  height: 44px;
  background: #323232;
  text-align: center; /* to center the UL in the nav */
}

nav ul {
  display: flex;
  max-width: 1200px; /* change to desired width */
  /* removed height from here, apply to a elements */
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0 auto; /* 0 auto allows it to self-center in the nav */
  list-style-type: none;
}

nav li {
}

nav a {
  display: inline-block;
  height: 44px;
  line-height: 44px;
  color: white;
  font-size: 15px;
  font-weight: 100;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: #b8b8b8;
}

.product {
  border-radius: 20px;
  display: inline-block;
  margin: 5px;
  margin-top: 10px;
  text-align: center;
  border: 1px solid white;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  background-color: white;
  height: 328.81px;
}
.product-img {
  width: 214px;
  height: 214px;
  text-align: center;
}

a {
  text-decoration: none;
}

.product-name {
  text-decoration: none;
  color: #323232;
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.footerbox {
  display: inline-block;
  border: 1px solid #dddddd;
  border-top-width: 5px;
  width: 32.3333%;
  padding: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 3px;
  margin-right: 3px;
  font-size: 15px;
  font-weight: 100;
  text-decoration: none;
  transition: 0.3s;
}

footer {
  background-color: #f5f5f7;
  font-size: 1em;
}

div ul {
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
}

.banner_shop_online {
  height: 15px;
  background-color: #0071e3;
  text-align: center;
  padding: 12px 0;
  /* background: #0071E3; */
  color: #ffffff;
  margin-top: 0;
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  margin-top: 5px;
  width: 25px;
  height: 30px;
  display: inline-block;
  text-align: center;
}
main {
  background-color: rgba(238, 238, 238, 0.25);
}
main .block_left,
.block_middle,
.block_right {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin-top: 20px;
  margin-bottom: 20px;
}
.price {
  display: inline-block;
  margin-top: 10px;
}

.price h2 {
  font-size: 20px;
  font-weight: 700;
  color: #e11b1e;
  font-family: Sans-serif !important;
  line-height: 22px;
  display: inline;
  float: left;
  padding-right: 30px;
}

.price p {
  font-weight: 700;
  color: #716b6b;
  text-decoration: line-through;
  font-size: 12px;
  float: right;
}

.capacity {
  width: 420px;
  height: 66px;
  display: inline-block;
}

.gb256,
.gb128,
.gb64 {
  position: relative;
  background: #fff;
  border: 1px solid #ddd;
  -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: calc((100% / 3) - 10px);
  text-align: center;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.capacity p {
  position: relative;
  border-radius: 3px;
  width: calc((100% / 3));
  text-align: center;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.capacity h2 {
  border-radius: 3px;
  width: calc((100% / 3) - 10px);
  text-align: center;
  padding: 0px;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  display: block;
  color: #e10c00;
}

.color {
  width: 420px;
  height: 66px;
  display: inline-block;
  margin-bottom: 50px;
}

.color_white,
.color_red,
.color_black {
  position: relative;
  background: #fff;
  border: 1px solid #ddd;
  -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: calc((100% / 3) - 10px);
  text-align: center;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.color h2 {
  border-radius: 3px;
  width: calc((100% / 3) - 10px);
  text-align: center;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  display: block;
  color: #e10c00;
}

.color h3 {
  color: #000;
  float: left;
  width: 70%;
  font-family: Sans-serif !important;
  font-size: 12px;
}

.sale {
  border: #e11b1e solid 1px;
  border-radius: 4px;
  padding: 10px 0 0;
  position: relative;
  overflow: visible;
  margin: 20px 0;
  float: left;
  width: 100%;
  text-align: center;
}

.big_button {
  display: block;
  color: #fff;
  font-size: 14px;
  line-height: 5px;
  width: 100%;
  border-radius: 5px;
  display: block;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(#f52f32, #e11b1e);
  border: solid 1px #e11b1e;
}

.buy_button {
  color: #fff;
  font-size: 14px;
  padding-top: 5px;
  line-height: 18px;
  width: 100%;
  border-radius: 5px;
  display: block;
  text-align: center;
  cursor: pointer;
  color: white !important;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}
.small_button_trả_góp,
.small_button_trả_thẻ {
  margin-top: 10px;
  color: #fff;
  font-size: 14px;
  padding: 8px 5px;
  line-height: 18px;
  width: 49.5%;
  display: inline-block;
  border-radius: 5px;
  background: #277cea;
  border: solid 1px #1d72e0;
  text-align: center;
  cursor: pointer;
}
.small_button h2 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
  line-height: 10px;
  width: 100%;
  border-radius: 5px;
  display: block;
  text-align: center;
  cursor: pointer;
}

.small_button h3 {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  width: 100%;
  border-radius: 5px;
  display: block;
  text-align: center;
  cursor: pointer;
}
.store h2 {
  display: block;
  width: 100%;
  background-color: #f7f7f7;
  float: left;
  text-align: center;
  text-transform: uppercase;
  border: 1px #eee solid;
  line-height: 40px;
  color: #3c3d41;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.store_address h2 {
  font-size: 14px;
  font-weight: 700;
  padding-top: 70px;
}

.store_address li{
    font-size: 12px;
    color: #3c3d41;
}

.status h3{
     display: block;
  width: 100%;
  background-color: #f7f7f7;
  float: left;
  text-align: center;
  text-transform: uppercase;
  border: 1px #eee solid;
  line-height: 40px;
  color: #3c3d41;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.status p{
    font-size: 13px;
    font-weight: 500;
}

.img_iphone img{
    width: 290px;
}

.iphone_slide img{
    width: 290px;
}