* {
  box-sizing: border-box;
}
.wrap {
  background: #f0f2f5;
}
.wrapper {
  max-width: 960px;
  height: 700px;
  margin: auto;
  background: #f0f2f5;
}

.left_icon {
  width: 480px;
  height: 266px;
  display: inline-block;
  float: left;
}

.left_icon img {
  width: 306px;
  margin-top: 200px;
  margin-bottom: -40px;
}

.login_text {
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 32px;
  width: 450px;
  padding: 0 0 20px;
  color: #1c1e21;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-left: 10px;
}

.right_icon {
  height: 256px;
  width: 396px;
  margin-top: 10px;
  display: inline-block;
  background: #fff;
  color: #1c1e21;
  direction: ltr;
  line-height: 1.34;
  padding: 0;
  unicode-bidi: embed;
  text-align: center !important;
  align-items: center;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 40px 0 0;
  margin-top: 200px;
  padding: 20px 0 28px;
  width: 396px;
}

.username input,
.password input {
  font-size: 17px;
  padding: 14px 16px;
  width: 330px;
  border: 1px solid #dddfe2;
  color: #1d2129;
  height: 22px;
  line-height: 16px;
  vertical-align: middle;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin-top: 5px;
}

.button_login {
  margin-top: 10px;
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  padding: 0 16px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  box-sizing: content-box;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
  content: "";
  display: inline-block;
  height: 50px;
  vertical-align: middle;
  color: white;
}

.forget {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #1877f2;
  font-size: 16px;
  font-weight: 560;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  direction: ltr;
  line-height: 1.34;
  margin: 0;
  padding: 0;
  unicode-bidi: embed;
}

.button_forget {
  margin: 10px;
}

.register {
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  line-height: 25px;
  padding: 0 16px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  background-color: #42b72a;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  justify-content: center;
  position: relative;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
  content: "";
  display: inline-block;
  height: 40px;
  vertical-align: middle;
}
/* regis css */
.wrap2 {
  background: #f0f2f5;
  height: 1000px;
  width: 100%;

}
.wrapper2 {
  max-width: 480px;
  height: 700px;
  background-color: transparent;
  background-color: white;
  margin-top: 80px;
  margin-left: 600px;
  float: left;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.Regis_Text h1 {
  display: inline-block;
  margin: 20px;
  position: relative;
  text-align: left;
  color: #1c1e21;
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 0;
  font-weight: 600;
}

.Regis_Text p {
  color: #606770;
  font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 24px;
  display: inline-block;
  margin: 20px;
  position: relative;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
  margin-left: 50px;
}

.text_p {
  margin-left: 20px;
  margin-top: 5px;
}

.surname input,
.fullname input {
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 16px;
  padding: 5px;
  margin: 8px;
  display: inline-block;
  width: 205px;
  background: white;
  border-radius: 5px;
  position: relative;
  color: #1c1e21;
  direction: ltr;
  line-height: 1.34;
}

.contact_info input {
  margin: 8px;
  width: 445px;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 16px;
  padding: 5px;
  margin-bottom: 10px;
  display: inline-block;
  background: white;
  border-radius: 5px;
  position: relative;
  color: #1c1e21;
  direction: ltr;
  line-height: 1.34;
}
.password2 input {
  margin: 8px;
  width: 445px;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 16px;
  padding: 5px;
  margin-bottom: 10px;
  display: inline-block;
  background: white;
  border-radius: 5px;
  position: relative;
  color: #1c1e21;
  direction: ltr;
  line-height: 1.34;
}

.DOB_text p {
  color: #606770;
  font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  margin-bottom: 0;
  margin: 8px;
  margin-bottom: 10px;
}

.DOB_spec select {
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 16px;
  padding: 5px;
  margin-right: 3px;
  margin-top: 0px;
  margin-left: 8px;
  margin-bottom: 8px;
  display: inline-block;
  width: 145px;
  background: white;
  border-radius: 5px;
  position: relative;
  color: #1c1e21;
  direction: ltr;
  line-height: 1.34;
}

.gender_text p {
  color: #606770;
  font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  margin-bottom: 0;
  margin: 8px;
  margin-bottom: 10px;
}

.male,
.female,
.other {
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 16px;
  padding: 5px;
  margin-right: 3px;
  margin-top: 0px;
  margin-left: 8px;
  margin-bottom: 8px;
  display: inline-block;
  width: 130px;
  background: white;
  border-radius: 5px;
  position: relative;
  color: #1c1e21;
  direction: ltr;
  line-height: 1.34;
}

.final_text {
  color: #777;
  cursor: pointer;
  text-decoration: none;
  margin-right: 3px;
  margin-top: 0px;
  margin-left: 8px;
  margin-bottom: 8px;
}
em {
  font-size: large;
  color: #385898;
  font-weight: bold;
}

.register2 {
  margin-left: 190px;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  line-height: 25px;
  padding: 0 16px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  background-color: #42b72a;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  justify-content: center;
  position: relative;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
  content: "";
  display: inline-block;
  height: 40px;
  vertical-align: middle;
}


#regis{
  display: none;
}

#regis:checked + .wrap2 {
  display: none;
}

.wrap2{
  position: fixed;
  top: 0;
  background-color:rgba(0, 0, 0, 0.1) ;
}

.wrapper2{
  position: relative;
}

#close{
  position: absolute;
  left: 430px;
  top: 25px;
  font-weight: bold;
  font-size: 25px;
}