*{
    box-sizing: border-box;
    text-align: center;
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: silver;
}

.header-left-row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 240px;
    height: 60px;
    background-color: rgb(176, 247, 176);
}

.header-right-row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 120px;
    height: 60px;
    background-color: rgb(176, 247, 176);
}

.header-row-element{
    width: 90px;
    height: 30px;
    background-color: rgb(102, 102, 243);
}

.container{
    width: 100%;
    height: 400px;
    background-color: rgb(250, 188, 117);
    padding:15px ;
}

.main-row{
    width: 100%;
    height: 385px;
    background-color: rgb(102, 102, 243);
}

@media only screen and (max-width: 240px){
    header{
        justify-content: space-evenly;
    }
    .header-row-element{
        width: 60px;
    }
    .container{
        padding: 5px;
    }
}